
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0%
    
}


body{
    background-image: url('fondo.jpg');
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

.contenedor-logo-instaya{
    
   
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 3%;
    left: 50%;
    transform: translate(-50%,-21%);
}

.imagen-logo{
    width: 270px;
    height: 260px;
    
}

